<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer edit</title>
</head>
<body>
    <h1>Customer edit</h1>
    <h2>
        {{ context_edit }}
        {{ url_index }}
    </h2>
    <br/>
    <ul>
        <li><a href="{{ url_index }}">Back to Index</a></li>
    </ul>
    <br/>
    <form method="post">
        {% csrf_token %}
        <ul>
            <li>
               Username: <input type="text" name="USERNAME" />
            </li>
            <li>
               Email: <input type="text" name="EMAIL" />
            </li>
            <li>
                <button type="submit" >Save data</button>
            </li>
            <li>
{#                <input type="hidden" value="{{ request.META.HTTP_REFERER }}" name="URL_INDEX" />#}
                <input type="hidden" value="{{ url_index }}" name="URL_INDEX" />
            </li>
        </ul>
    </form>
</body>
</html>